[Desktop Entry]
Version=1.0
Type=Application
Categories=Network;Application;
Name=Afad - Pardus - Yükseltme
Comment=Afad Pardus Yukseltme Uygulaması
Exec=sudo /opt/afad-pardus-yukseltme/afad-pardus-yukseltme.sh
Icon=mintupdate
Path=
Terminal=true
StartupNotify=false