[Desktop Entry]
Version=1.0
Type=Application
Categories=Network;Application;
Name=Afad - pardus-yukseltme
Comment=Afad pardus-yukseltme Uygulaması
Exec=/opt/afad-pardus-yukseltme/afad-pardus-yukseltme.sh
Icon=mintupdate
Path=
Terminal=true
StartupNotify=false