[Desktop Entry]
Version=1.0
Type=Application
Categories=Network;Application;
Name=Afad - Guncelleme
Comment=Afad Guncelleme Uygulaması
Exec=/opt/afad/afad-guncelleme.sh
Icon=mintupdate
Path=
Terminal=true
StartupNotify=false